/* Bento Box Search Cascading Style Sheet */

.form-item-bento-search-input, #edit-bento-submit { display: inline-block; }
#edit-bento-search-input { width: 150px; display: inline-block; }
.bento-search-system-container {
  border: 1px solid black;
  width: 361px;
  padding: 15px;
  margin: 0 12px 12px 0;
  display: inline-table;
  height: 300px;
  max-height: 300px;
  overflow: auto;
}
.bento-search-system-container h4 { font-weight: bold; }
.bento-search-system-container .ajax-loader { text-align: center; }
.bento-search-system-container p#more-results { 
    font-size: 120%; 
    font-weight: bold;
    text-align: right;
    margin-bottom: 0;
}

#search-results-container { width: 100%; }
.bento-single-result { margin: 15px 0; }
.bento-single-result p { margin: 0; padding: 0; } 
.bento-single-result a, .bento-single-result h1, .bento-single-result h2, 
.bento-single-result h3, .bento-single-result h4, .bento-single-result h5, 
.bento-single-result h6 { font-size: 110%; font-weight: bold; text-decoration: none;}
.bento-single-result li { margin: 15px 0 5px 0; }
